body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #555753;
    font-size: 75%;
    line-height: 1.9;
    background-image: url(images/blossoms.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 0px;
    color: #7D775C;
}

p {
    text-align: justify;
    margin-top: 0px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #9999FF;
}

a:visited {
    color: #AAAAFF;
}

a:active,
a:hover {
    color: #9685BA;
    text-decoration: underline;
}

#linkList {
    background-image: url(images/paper-bg.jpg);
    background-repeat: repeat-y;
    width: 130px;
    position: absolute;
    top: 0px;
    right: 10px;
    margin-top: 150px;
    margin-left: 600px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    line-height: 3ex;
    margin-bottom: 5px;
    padding-top: 5px;
    background-image: url(images/link_line.gif);
    background-repeat: no-repeat;
    background-position: top center;
}

.select {
    background-image: url(images/3selectdesign.gif);
}

.archives {
    background-image: url(images/5archives.gif);
}

.resources {
    background-image: url(images/6resources.gif);
}

.select,
.resources,
.archives {
    background-repeat: no-repeat;
    height: 20px;
    width: 100px;
}

.resources span,
.archives span,
.select span {
    display: none;
}

.resources,
.archives {
    margin-top: 20px;
}

#intro {
    min-width: 480px;
}

#container {
    background-image: url(images/flowers-bg.jpg);
    background-repeat: no-repeat;
    padding: 0px 175px 0px 110px;
}

#pageHeader h1 {
    background-image: url(images/1ZenGarden.gif);
    margin-top: 10px;
    padding-top: 20px;
    background-repeat: no-repeat;
    width: 220px;
    height: 88px;
    float: left;
}

#pageHeader h1 span {
    display: none;
}

#pageHeader h2 {
    background-image: url(images/2Beauty.gif);
    margin-top: 60px;
    width: 200px;
    height: 20px;
    float: right;
}

#pageHeader h2 span {
    display: none;
}

#quickSummary {
    width: 180px;
    margin: 20px 20px 20px 10px;
    clear: both;
    float: left;
}

#quickSummary p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10pt;
    line-height: 22pt;
    font-style: italic;
    text-align: center;
}

#preamble {
    margin-top: 20px;
    padding: 0px 10px;
    clear: right;
}

#supportingText {
    padding-left: 10px;
    margin-bottom: 40px;
}

#footer {
    text-align: center;
}

#footer a {
    padding: 10px;
}

#extraDiv1 {
    background-image: url(images/red_structure.gif);
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 40px;
    width: 150px;
    height: 110px;
}