@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
body {
    background-color: #dddddd;
    color: blue;
    background-image: url(background_orange.gif);
    background-position: top right;
    background-repeat: no-repeat;
}

.directions {
    width: 60%;
    border: 1px solid orange;
    padding: 10px;
    line-height: 2;
    margin-bottom: 50px;
    height: 180px;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: bold;
}

.left {
    text-align: center;
    float: left;
    background-color: #f0f0f0;
    letter-spacing: 3px;
    line-height: 2;
    height: 300px;
    width: 300px;
}

.right {
    height: 300px;
    width: 300px;
    background-color: #f0f0f0;
    margin-right: 15px;
    float: right;
    line-height: 2;
}

.right h2 {
    background-image: url(right.gif);
    height: 50px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.right h2 span {
    display: none;
}

.center {
    height: 300px;
    margin-left: 350px;
    margin-right: 350px;
    background-color: #ffcc55;
    text-align: justify;
}

.center ul {
    list-style-type: none;
}

.center li {
    font-style: italic;
    margin-top: 25px;
}

.end {
    position: absolute;
    top: 225px;
}