.centered {
    text-align: center;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-alpha;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

table, th, td {
    border: solid black 2px;
}

th#logo {
    background-color: lightgray;
}