h1 {
    color: maroon;
}

#absolute {
    position: absolute;
    left: calc(50% - 40px);
    top: 0px;
}

#div1 {
    background-color: #cccccc;
    border: solid thick maroon;
    width: 65%;
    margin-left: 5%;
    margin-bottom: 1em;
    padding: 1em;
    font-weight: bold;
    color: maroon;
    font-size: 12pt;
}

#div2 {
    background-color: #cccccc;
    border: dashed thick maroon;
    width: 50%;
    float: right;
    margin-right: 15%;
    margin-bottom: 3em;
    padding: 2em;
    font-weight: bold;
    color: maroon;
    font-size: 12pt;
}

#div3 {
    background-color: #cccccc;
    margin: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    padding-left: 1em;
}

#div3 img {
    float: right;
}