@import url('https://fonts.googleapis.com/css?family=Felipa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

#sansSerif {
    font-family: sans-serif;
}

#felipa {
    font-family: 'Felipa';
}

#indieFlower {
    font-family: 'Indie Flower'
}

#spawnOfSatan {
    font-family: 'Comic Sans MS';
}

#oneFourth {
    font-size: .25in;
}

#twoM {
    font-size: 2em;
}

#smallText {
    font-size: small;
}

#eighteenPt {
    font-size: 18pt;
}

#twoHundredPercent {
    font-size: 200%;
}

#italic {
    font-style: italic;
}

#oblique {
    font-style: oblique;
}

#bold {
    font-weight: bold;
}

#smallCaps {
    font-variant: small-caps;
}

#allCaps {
    text-transform: uppercase;
}

#lineTop {
    text-decoration: overline;
}

#strikethrough {
    text-decoration: line-through;
}

#textSpacing {
    letter-spacing: .5em;
}