@font-face {
    font-family: 'Chiller';
    src: url('Chiller-Regular.woff2') format('woff2'), url('Chiller-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div {
    margin: 5px;
}

img {
    height: 200px;
}